*.o
*.make
*.cmake
*.dir
**/cmake-build-*
/_CPE_other
Lab5/cmake-build-debug/Testing/Temporary/LastTest.log
Lab5/cmake-build-debug/Sobel_Filter
Lab5/cmake-build-debug/.cmake/api/v1/reply/target-Lab5-Debug-6c133dc432b3a969995f.json
*.json
